{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Current Shares</th>
            <th scope="col">Current Price</th>
            <th scope="col">Total Value</th>
        </tr>
    </thead>

</table>

<div>
    Current Cash Balance:
</div>
<div>
    Current Stock Value Balance:
</div>
<div>
    Total Balance:
</div>
{% endblock %}